.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-color: #bea6a6;
    margin-top: -2px;
}

.login-box {
    margin-top: -30px;
    background: #e5d8d8;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-box h1 {
    margin-bottom: 1rem;
    font-size: 1.9rem;
}

.login-box p {
    margin-bottom: 1rem;
    color: #888;
    font-weight: 600;
}

.login-box a {
    color: #725841;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}

.forgot-password {
    text-align: right;
    margin-bottom: 1rem;
    font-weight: 600;
}
 
.login-button {
    width: 100%;
    padding: 0.5rem;
    background-color: #725841;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #A98A6E;
}